@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #f5f5f5;
}

[data-theme='dark'] {
  --foreground: #ffffff;
  --background: #050505;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
}

::selection {
  background: rgba(128, 128, 128, 0.1);
}

.dark ::selection {
  background: rgba(255, 255, 255, 0.1);
}
